# By default, let Git decide if a file is text. If it is, normalize
# the line endings to LF in the repository.
# (crlf is for backward compatibility with Git 1.7.1, but does it make
# all files normalized unconditionally?)
*	text=auto crlf
